@charset "utf-8";


/*-----------第一屏的css开始---------------*/
.index_left{
	background:#b04a34;
	width:100%;
	position:absolute;
	top:10%;
	}
	.index_left1{
		padding-bottom:40px;
		color:#FFF;}
	.index_left2{
		margin-top:40px;
		margin-left:20%;
		text-align:left;
		font-size:2.5em;}
	.index_left3{
		margin-top:10px;
		margin-left:20%;}
.index_right{
	width:100%;
	background:#fff;
	position:absolute;
	bottom:2%;}
.index_right1{
	 margin-top:30px;}
.index_right2{
	 margin-left:8%;}
.index_right3{
	margin-top:8px;
	background:url(../images/logo_03.gif);
	float:left; 
	width:127px; 
	height:103px; 
	margin-left:25%;}
.index_right4{
	color:#b04a34; 
	text-align:left; 
	float:left; 
	margin-left:5%;}
.index_right5{
	color:#b04a34;
	font-size:18px; 
	margin-top:2px;
	clear:left;}
.index_right6{
	margin-top:8px;
	color:#b04a34; 
	text-align:left; 
	float:left;
	margin-left:25%;}
.index_right7{
	margin-top:8px;
	background:url(../images/logo_10.gif);
	float:left; 
	width:168px; 
	height:102px;
	margin-left:5%;
	}
.index_right8{
	color:#b04a34; 
	font-size:18px;
	clear:left;}


		.le{
			text-align:left;}
		.le ul{
			text-align:left;
			padding-top:90px;
			font-family:"微软雅黑";
			font-size:1.3em;
			}
		.le li{
			line-height:55px;}


/*-----------第一屏的css结束---------------*/	
.list_top{
	width:100%;
	background:#b04a34;
	height:340px;
	margin-top:3%;}
.list_top1{
	width:100%;
	background:#b04a34;
	height:270px;
	}
	.list_top2 h4{
		word-spacing:15px; 
		letter-spacing:2px;}
.list_top1{}
.list_top1{}
.list_top1{}
.list_top1{}
.list_top1{}
.list_top1{}
.list_top1{}
.list_top1{}



/*-----------第二屏的css开始---------------*/



/*-----------第二屏的css结束---------------*/	

/*-----------第四屏的css开始---------------*/
.index4{
	/*background:#b04a34;*/
	margin-top:3%;
	height:400px;}
.index4_left{
	font-size:2em;
	letter-spacing:0.5em;
	text-align:left;
	line-height:80px;
	margin-top:7%;
	}
#section3{
		background:url(../img/bg.jpg);
	}
.index4_left a{
	text-decoration:none;
	color:#b04a34;}
.index4_three_1{
	float:left;
	text-align:left;
	font-size:1.5em;
	color:#fff;
	margin-left:9%;
	margin-top:9%;}
.index4_three_2{
	float:left;
	margin-left:9%;
	margin-top:9%;}
.index4_three_2 button{
	width:100%;
	}


/*-----------第四屏的css结束---------------*/	




